<div class="containerX">
    <div class="bcumb">
      <span>courier</span> &gt; <span class="bold">tracking</span>
    </div>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="45px" fxLayoutGap.xs="9px">
      <div fxFlex="20%">
        <app-dashboard></app-dashboard>
       </div>
       <div fxFlex="80%">
          <div class="Dashboard">
              <h4 class="dashboard-head"> &nbsp; <strong> track your order</strong></h4>
            <mat-card class="dash-card">
                <div fxLayout="row" fxLayout.xs="column">
                    <div fxFlex="20%"></div>
                   <div fxFlex="50">
                     <form [formGroup]="track" (submit)="onSubmit()">
                     <div fxLayout="row">
                       <div fxFlex="50%">
                          <mat-form-field appearance="outline" class="track" >
                              <input type="text" matInput formControlName="tracknumber" placeholder="enter your consigment number">
                          </mat-form-field>
                          <div fxFlexOffset="5px" class="submit" >
                              <button class=" btn btn-default  btn1">track</button>
                           </div>
                       </div>
                     </div> 
                    </form>      
                   </div>
                  </div>
            </mat-card> 
            <br>
            <mat-card class="dash-card">
                <div fxLayout="row" fxLayout.xs="column">
                    <div fxFlex="30%">
                        <h3>Customer Details</h3>
                        <h5>Customer-name:{{shipment.Customer_Name}}</h5>
                        <h5>Customer-email:{{shipment.Customer_email}}</h5> 
                    </div>
                   <div fxFlex="30">
                      <h3>Couier Details</h3>
                      <h5>Courier-name:{{shipment.courier}}</h5>
                      <h5>Order-id{{shipment.order_id}}</h5>
                      <h5>Courier-title{{shipment.title}}</h5>   
                   </div>
                   <div fxFlex="30">
                      <h3>Product Details</h3>
                      <h5>Product-name:{{shipment.product_name}}</h5>
                      <h5>Product-price:{{shipment.product_price}}</h5>    
                   </div>
                  </div>
            </mat-card>   
          </div>
        </div>
    </div> 
  </div>     