<div class="full-page" [ngStyle]="{'background-color':'#ffcdd2'}" >
    <div fxLayout="row" fxLayout.xs="column">
        <div fxFlex="20%"></div>
        <div fxFlex="60%">
            <mat-card class="login-card">
                <h2 class="text-center">LOGIN FORM</h2>
                <br>
                <div fxLayout="row" fxLayout.xs="column">
                    <div fxFlex="41%" fxLayoutGap="">
                        <img class="login-image" src="assets/images/login.jpg" alt="courier">
                    </div>
                    <div fxFlex="8%" ></div>
                    <div class="login-form" fxFlex="51%">
                        <!-- <form #loginForm="ngForm" (ngsubmit)="onSubmit()" > -->
                        <form [formGroup]="loginForm" (submit)="onSubmit()" >
                            <!-- <div class="form-group" >
                                <input class="form-control username" [(ngModel)]="email" required name="name"  type="email" placeholder="Email">
                            </div>
                            <br>
                            <div class="form-group" >
                                <input class="form-control user-pass" type="password" required name="password" [(ngModel)]="password" placeholder="password">
                            </div> -->
                            <mat-form-field appearance="outline" class="email">
                                <input type="text" matInput formControlName="email" placeholder="Email">
                            </mat-form-field>
                            <br>
                            <mat-form-field appearance="outline" class="email">
                                <input type="password" matInput formControlName="password" placeholder="Password">
                            </mat-form-field>
                            <br>
                            <div>
                                <div>new account <a [routerLink]="['/register']">register here</a></div>
                            </div>
                            <br>
                            <div class="">
                                <button class="btn btn-success" type="submit" name="submit">
                                    <span style="font-size:20px">Submit</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
</div>