
  <nav class="navbar navbar-default nav1">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">
              <img src="" class="logo">
            </a>
            <span class="navbar-brand">COURIER</span>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="" routerLink="/home">Home</a></li>
            <li><a href="#" routerLink="/register">Register</a></li>
            <li><a href="#" routerLink="/login">Login</a></li>
            
            
           
        </ul>
    </div>
  </nav>
 
  

 
  

<router-outlet></router-outlet>
