<div class="containerX">
    <div class="bcumb">
      <span>courier</span> &gt; <span class="bold">History</span>
    </div>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="45px" fxLayoutGap.xs="9px">
      <div fxFlex="20%">
        <app-dashboard></app-dashboard>
      </div>
      <div fxFlex="80%">
          <mat-card class="dash-card">
              <div fxLayout="column" fxLayout.xs="column">
                  <div fxFlex="30%">
                      <h3>oder number</h3>
                      <p>status</p>
                      <p>description</p> 
                  </div>
                 <div fxFlex="30">
                    <h3>oder number</h3>
                    <p>status</p>
                    <p>description</p>    
                 </div>
                 <div fxFlex="30">
                    <h3>oder number</h3>
                    <p>status</p>
                    <p>description</p>    
                 </div>
                </div>
          </mat-card>   
     
      </div>
    </div> 
  </div>     