<div class="containerX">
    <div class="bcumb">
      <span>courier</span> &gt; <span class="bold">History</span>
    </div>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="45px" fxLayoutGap.xs="9px">
      <div fxFlex="20%">
        <app-dashboard></app-dashboard>
      </div>
      <div fxFlex="80%">
          <mat-card class="dash-card">
              <div fxLayout="row" fxLayout.xs="column" *ngFor="let shipment of shipmentList">
                  <div fxFlex="100%" >
                      <h3>Order-id: oder number: {{shipment.order_id}}</h3>
                      <p>Customer-name: {{shipment.Customer_Name}}</p>
                      <p>Customer-email: {{shipment.Customer_email}}</p> 
                      <p>Courier: {{shipment.courier}}</p>
                      <p> title: {{shipment.title}}</p>
                      <p>Product-name: {{shipment.product_name}}</p>
                      <p>Product-price: {{shipment.product_price}}</p>
                  </div>
                </div>
          </mat-card>   
     
      </div>
    </div> 
  </div>     