<a routerLink="/dashboard">
  <div class="topicType" [ngClass]="{'active': urlName === '/dashboard'}">
    <i class="icofont-chart-histogram leftIcon"></i>Home<span class="float-right font18" *ngIf="urlName === '/dashboard'"><i
    class="fas fa-caret-right rightIcon"></i></span>
  </div>
</a>
<a routerLink="/dashboard/tracking">
  <div class="topicType" [ngClass]="{'active': urlName === '/dashboard/tracking'}">
    <i class="icofont-user-alt-3 leftIcon"></i>Tracking<span class="float-right font18" *ngIf="urlName === '/dashboard/tracking'"><i
    class="fas fa-caret-right rightIcon"></i></span>
  </div>
</a>
<a routerLink="/dashboard/history">
  <div class="topicType" [ngClass]="{'active': urlName === '/dashboard/history'}">
    <i class="icofont-ui-calendar leftIcon"></i>History<span class="float-right font18" *ngIf="urlName === '/dashboard/history'"><i
    class="fas fa-caret-right rightIcon"></i></span>
  </div>
</a>

<a (click)="logout()">
  <div class="topicType" >
    <i class="icofont-ui-calendar leftIcon"></i>logout<span class="float-right font18" ><i
    class="fas fa-caret-right rightIcon"></i></span>
  </div>
  </a>

