<div class="contact1">
  <div class="container-contact1">
    <div class="contact1-pic js-tilt" data-tilt>
      <img src="assets/images/courier-service.jpg" alt="IMG">
    </div>

    <form class="contact1-form validate-form" (ngSubmit)="onSubmit()" #userForm="ngForm">
      <span class="contact1-form-title">
        Register to track multiple orders
      </span>
      <div class=" form-group" >
        <input class="input1 form-control" type="text" required name="name"
         placeholder="Name" [(ngModel)]="name">
        <mat-error>name is required</mat-error>
      </div>
      <!-- {{name.valid}} -->
      <div class="form-group" >
        <input class="input1 form-control" type="tel" required pattern="^\d{10}$" 
        name="phone" placeholder="number" [(ngModel)]="phone">
        <span ></span>
      </div>
      <!-- {{phone.valid}} -->
      <div class="wrap-input1  form-group" data-validate = "Valid email is required: ex@abc.xyz">
        <input class="input1 form-control" type="text"
        name="email" placeholder="Email" [(ngModel)]="email">
        <span class="shadow-input1"></span>
      </div>

      <div class="wrap-input1 " data-validate = "Subject is required">
        <input class="input1 form-control" type="text"
        name="password" placeholder="password" [(ngModel)]="password">
        <span class="shadow-input1"></span>
      </div>
      <div class="container-contact1-form-btn">
        <button class="contact1-form-btn" routerLink="/login">
          <span style="font-size:20px">
            Submit
          </span>
        </button>
      </div>
    </form>
  </div>
</div>
