<div class="contact1">
  <div class="container-contact1">
    <div class="contact1-pic js-tilt" data-tilt>
      <img src="assets/images/courier-service.jpg" alt="IMG">
    </div>

    <form class="contact1-form validate-form" #userForm = "ngForm">

      <span class="contact1-form-title">
        Register to track multiple orders
      </span>

      <div class="wrap-input1 validate-input" data-validate = "Name is required">
        <input class="input1" type="text" name="name" placeholder="Name" ngModel>
        <span class="shadow-input1"></span>
      </div>

      <div class="wrap-input1 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
        <input class="input1" type="text" name="email" placeholder="Email" ngModel>
        <span class="shadow-input1"></span>
      </div>

      <div class="wrap-input1 validate-input" data-validate = "Subject is required">
        <input class="input1" type="text" name="password" placeholder="password" ngModel>
        <span class="shadow-input1"></span>
      </div>

      <div class="wrap-input1 validate-input" data-validate = "Subject is required">
        <input class="input1" type="text" name="password" placeholder="re enter password" ngModel>
        <span class="shadow-input1"></span>
      </div>

      <div class="container-contact1-form-btn">
        <button class="contact1-form-btn">
          <span style="font-size:20px">
            Submit
          </span>
        </button>
      </div>
    </form>
  </div>
</div>
